JWT_SECRET=EkWKGTSVHqHH6NmNta7pIzemmBfOnOj8R1sQuY/mAsV2cIvSwMoKA2PK8LlNyhLmPhd22w19V4bLOz8gFnu2yA==
DATABASE_URL=postgresql://postgres.pthbnztsmlflflcnqjhf:testing102938475619283@aws-0-us-west-2.pooler.supabase.com:5432/postgres
